---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<p>You can also find my articles on my <a href="https://scholar.google.com/citations?user=oUChg58AAAAJ&hl=en">Google Scholar profile</a>.</p>

{% assign sorted_publications = site.publications | sort: "date" | reverse %}

<h2 id="journal-articles">Journal Articles</h2>
<hr />

{% for post in sorted_publications %}
  {% if post.type == 'Journal Article' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<br />

<h2 id="theses">Theses</h2>
<hr />

{% for post in sorted_publications %}
  {% if post.type == 'Thesis' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<br />

<h2 id="oped">OpEd</h2>
<hr />

{% for post in sorted_publications %}
  {% if post.type == 'OpEd' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<br />

<h2 id="acknowledgments">Contributed Research & Formal Acknowledgments</h2>
<hr />

{% for post in sorted_publications %}
  {% if post.type == 'Acknowledged Contributor' %}
    {% include archive-single.html %}
```html
  {% endif %}
{% endfor %}
