---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<p>You can also find my articles on my <a href="https://scholar.google.com/citations?user=oUChg58AAAAJ&hl=en">Google Scholar profile</a>.</p>

<h2 id="journal-articles">Journal Articles</h2>
<hr />

{% for post in site.publications %}
  {% if post.type == 'Journal Article' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<br />

<h2 id="oped">OpEd</h2>
<hr />

{% for post in site.publications %}
  {% if post.type == 'OpEd' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
